{% extends "basic.html"%}
{% load static %}         
{% block body %}

<div class="card">
    <div class="card-body">
      <h4 style = "padding-top: 60px; text-align: center;">PREDICARE: Disease Prediction Using Machine Learning.
        Final Year Project  Batch:2023</h4>
    </div>
</div>
<br>
{% comment %} mentor {% endcomment %}
<div class="col d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Mrs. Yugchhaya Galphat
            Assistant Professor,
            </h5>
          <p class="card-text">Dept. of Computer Engineering
            Vivekanand Education Society’s 
            Institute of Technology
            Mumbai, India.</p>
          <a href= mailto:"yugchhaya.dhote@ves.ac.in" class="btn btn-info">E-Mail Id</a>
        </div>
    </div>
</div>
<br>
{% comment %} students {% endcomment %}
<div class="card-deck">
    <div class="card text-white bg-info mb-3">
      <div class="card-body">
        <h5 class="card-title">Chirag Dayaramani</h5>
        <p class="card-text">Dept. of Computer Engineering
            Vivekanand Education Society’s 
            Institute of Technology
            Mumbai, India.</p>
        <a href= mailto:"2019chirag.dayaramani@ves.ac.in" class="btn btn-light">E-Mail Id</a>
      </div>
    </div>
    <div class="card text-white bg-info mb-3">
      <div class="card-body">
        <h5 class="card-title">Disha Raghani</h5>
        <p class="card-text">Dept. of Computer Engineering
            Vivekanand Education Society’s 
            Institute of Technology
            Mumbai, India.</p>
            <a href= mailto:"2019disha.raghani@ves.ac.in " class="btn btn-light">E-Mail Id</a>
      </div>
    </div>
    <div class="card text-white bg-info mb-3">
        <div class="card-body">
          <h5 class="card-title">Laveena Kithani</h5>
          <p class="card-text">Dept. of Computer Engineering
            Vivekanand Education Society’s 
            Institute of Technology
            Mumbai, India.</p>
            <a href= mailto:"2019laveena.kithani@ves.ac.in" class="btn btn-light">E-Mail Id</a>
        </div>
      </div>
    <div class="card text-white bg-info mb-3">
      <div class="card-body">
        <h5 class="card-title">Yash Kriplani</h5>
        <p class="card-text">Dept. of Computer Engineering
            Vivekanand Education Society’s 
            Institute of Technology
            Mumbai, India.</p>
            <a href= mailto:"2019yash.kriplani@ves.ac.in" class="btn btn-light">E-Mail Id</a>
      </div>
    </div>
  </div>

    
   {% endblock %}